{% extends 'base.html' %}
{% block title %}Добавление типа работы{% endblock %}
{% block content %}
<h2>Добавление нового типа работы</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control", rows=4) }}
  </div>
  <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
</form>
{% endblock %}